@import "../../../main.scss";

.upperInfo {
  display: grid;
  grid-template-columns: 65% 35%;
  place-items: center;
  margin-top: 4rem;
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 100%;
    row-gap: 0.3rem;
    padding: 2rem 4rem;
    margin-top: 1rem;
    place-items: unset;
  }
  &_name {
    color: $color-secondary;
    font-size: 3rem;
    margin-bottom: 9px;
  }

  &_roomInfos {
    display: flex;
    align-items: center;
    font-size: 2.3rem;
    color: rgb(106, 106, 106);
  }
  &_icons {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8px;
  }
  &_icon {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.7rem;
    color: $color-secondary;

    .icon {
      color: $color-primary;
      font-size: 1.7rem;
    }
  }
  &_right {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      align-items: flex-start;
    }
  }
  &_right_fav {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1.2rem 2rem;
    margin-top: 8px;
    .icon {
      font-size: 1.8rem;
      text-align: center;
      cursor: pointer;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 22px;
    }
  }

  &_right_price {
    text-align: right;
    @media only screen and (max-width: $bp-medium) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
    }
    .price {
      font-size: 2.6rem;
      color: $color-secondary;
      font-weight: bold !important;
    }
    .sqPrice {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}
