@import "../../main.scss";

.header-flex {
  display: grid;
  grid-template-columns: 65% 35%;
  column-gap: 3.2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 100%;
    row-gap: 3rem;
    padding: 3rem;
    margin-bottom: 0rem;
    padding-bottom: 0;
  }
}

.make-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeDetails {
  margin: 2rem 0 1rem;
  grid-column: center-start / center-end;
  width: 100%;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 3/4;
    padding: 0 7rem;
  }
  @media only screen and (max-width: $bp-medium) {
    padding: 0 0rem;
  }
  &_grid {
    display: grid;
    grid-template-columns: 65% 35%;
    column-gap: 3.2rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 100%;
      row-gap: 4rem;
      padding: 3rem;
    }
  }
}
.fix_props {
  width: 100%;
  padding: 2.5rem 3rem 3rem;
  box-shadow: 0px 1px 4px rgba(24, 26, 32, 0.2);
  background-color: $color-grey-light-1;

  @media only screen and (max-width: $bp-medium) {
    padding: 1.5rem 2rem 2rem;
  }
}

.swiper_pad {
  @media only screen and (max-width: $bp-medium) {
    padding: 1.5rem 0.6rem 9rem;
  }
}

.swiper_head {
  @media only screen and (max-width: $bp-medium) {
    padding-left: 2rem;
  }
}

.fix_heading {
  font-size: 2.5rem;
}

.grid_left {
  width: 100%;
  // &_slider {
  // }

  &_overview {
    margin-top: 4rem;
  }
}

.grid_right {
  width: 100%;
  height: 159vh;
  position: sticky;
  top: 15px;
  // &_fixed {
  //   left: 0;
  //   height: 1111px;
  // }
  @media only screen and (max-width: $bp-large) {
    position: relative;
    height: fit-content;
    top: auto;
  }
  &_form {
    p {
      font-size: 1.7rem;
      color: $color-secondary;
    }
  }
  &_agent {
    margin-top: 4rem;
  }
}

.upperInfo_right_price {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  & .price {
    font-size: 3.2rem;
    color: $color-secondary;
    font-weight: bold !important;
    margin-right: 10px;
    line-height: 42px;

    @media only screen and (max-width: $bp-medium) {
      font-size: 3rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      margin-right: 0;
    }
  }
  & .sqPrice {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.heart_icon {
  height: 3.5rem;
  width: 3.8rem;
  cursor: pointer;
}
