@import "../../main.scss";
.cards_grid {
  margin: 6rem 0 6rem;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 7rem;
}
