@import "../../main.scss";
.property_cards {
  grid-column: center-start / center-end;
  margin: 6rem 0;
  grid-row: 3/4;
  z-index: 1;
  position: relative;
  @media only screen and (max-width: $bp-smallest) {
  }
}
